<!doctype html>
<html ng-app='controller'>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>guestbook (angular)</title>
    <script src="/javascripts/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
    <script src="util.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body ng-controller="GuestbookController as guestbook">
    <section class='container'>
      <section class='page-header'>
        <h1>guestbook&nbsp;<small>welcome to the guestbook application</small></h1>
      </section>
      <details class='form-group'>
        <summary class='form-group'>
          please <strong>expand</strong> to leave your dedication.
        </summary>
        <form class='form-horizontal'>
          <section class='form-group'>
            <label class='col-sm-2 control-label' for='name'>your name*</label>
            <section class='col-sm-10'>
              <input  class='form-control' placeholder='your name' ng-model='guestbook.newAuthor' required/>
            </section>
          </section>
          <section class='form-group'>
            <label class='col-sm-2 control-label' for='dedication'>dedication*</label>
            <section class='col-sm-10'>
              <input class='form-control' placeholder='your dedication' ng-model='guestbook.newText' required/>
            </section>
          </section>
          <section class='form-group'>
            <section class='col-sm-offset-2 col-sm-10'>
              <button class='btn btn-info' ng-click='guestbook.addDedication(guestbook.newAuthor, guestbook.newText)'>add dedication</button>
            </section>
          </section>
        </form>
      </details>
      <section class='panel panel-default'>
        <section class="panel-heading">dedications</section>
          <section class='panel-body'>
            <section class='row' ng-repeat="dedication in guestbook.dedications">
              <div class='col-md-3'><em>{{dedication.author}}&nbsp;on&nbsp;{{guestbook.formatDate(dedication.date)}}</em></div>
              <div class='col-md-8'>{{dedication.text}}</div>
              <div class='col-md-1'>
                  <button class='btn btn-default btn-xs' ng-click='guestbook.removeDedication(dedication._id)'><span class="glyphicon glyphicon-trash"></span></button>
              </div>
            </section>
          </section>
        </section>
        <section>
          <button class='btn btn-info' ng-click='guestbook.refresh()'>refresh</button>
        </section>
      </section>
    <script src='/javascripts/bootstrap.min.js'/>
    </section>
  </body>
</html>